/* Seteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Encabezado */
.container {
  border-bottom: solid 2px;
  background-color: goldenrod;
}
.navbar a{
  color: black;
}
li {
  font-weight: bold;
}
.menu a {
  color: black;
}

